<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.matchcalculator" version="1.0.0">
   <name>MathCalculator</name>
   <js-module name="MathCalculator" src="www/MathCalculator.js">
      <clobbers target="cordova.plugins.MathCalculator" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="MathCalculator">
            <param name="android-package" value="cordova.plugin.matchcalculator.MathCalculator" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/MathCalculator.java" target-dir="src/cordova/plugin/matchcalculator/MathCalculator" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="MathCalculator">
            <param name="ios-package" value="MathCalculator" />
         </feature>
      </config-file>
      <source-file src="src/ios/MathCalculator.m" />
   </platform>
</plugin>